<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class = "container">
  <form action="/user/create" method = "post">
    <div class="form-group">
      <label for="name">아이디</label>
      <input type="text" id="name" name="name" placeholder="유저이름을 입력하세요">
    </div>

    <div class="form-group">
      <label for="name">비밀번호</label>
      <input type="text" id = "password" name = "password" placeholder="유저 비밀번호로 입력하세요">
    </div>

    <button type="submit">등록</button>
  </form>
</div>

</body>
</html>