<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Hello</title>
  <meta http-equiv="Content-Type" content ="text/html; charset=UTF-8" />
</head>

<body>

<div class = "container">

  <div>
    <h1>개인 테스트 페이지</h1>
  </div>
  <div th:if="${loginUser != null}">
    <p th:text="'안녕하세요. ' + ${loginUser.getName()}" ></p>
  </div>

  <div>
    <form action="/user/login" method = "post">
      <div class="form-group">
        <label for="name">아이디</label>
        <input type="text" id="name" name="name" placeholder="유저이름을 입력하세요">
      </div>

      <div class="form-group">
        <label for="name">비밀번호</label>
        <input type="text" id = "password" name = "password" placeholder="유저 비밀번호로 입력하세요">
      </div>

      <button type="submit">로그인</button>
    </form>
  </div>

  <p>
    <a href = "/user/create">회원가입 </a>
    <a href = "/test">비회원으로 접속</a>
  </p>
  <div>
    <a class="p-2" href="https://kauth.kakao.com/oauth/authorize?client_id=84a0d1a6f2c8aad492cec0f443b0ecf6&redirect_uri=http://localhost:8080/kakao&response_type=code">
      카카오 로그인
    </a>
  </div>
</div>
</body>
</html>
